{% extends "recipes/layout.html" %}

{% block body %}

    <div class="row mx-1 my-3">
        {% if user.is_authenticated %}
            {% if isListingInWatchlist %}
                <form action="{% url 'removeWatchlist' id=listing.id %}" method="POST">
                    {% csrf_token %}
                    <button type="submit" class="btn btn-info">Return Ingredients</button>
                </form>
            {% else %}
            <form action="{% url 'addWatchlist' id=listing.id %}" method="POST">
                {% csrf_token %}
                <button type="submit" class="btn btn-warning">Buy Ingredients</button>
            </form>
            {% endif %}
        {% endif %}
    </div>
    
    <h2>Dish: {{ listing.title }}</h2>
    <img src="{{ listing.imageUrl }}" alt="{{ listing.title }}" height="600px">
    <p>{{ listing.description }}</p>
    <p class="recipe-recipe"><b>Recipe: </b> <p>{{ listing.recipeMade }}</p>
    <p><b>Ingredients: </b> {{ listing.ingredients }}</p>
    <p><b>Chef: </b> {{ listing.owner }}</p>
    <h4>${{ listing.price }}</h6>
    
    <div class="like-mech">
        <meta charset="UTF-8">
        <meta http-equiv="X-UA-Compatible" content="IE=edge">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <title>Like button</title>
        <!-- css -->
    <body>
        <button class="like_btn">
            <i id="icon" class="fa fa-thumbs-up"></i>
            <span id="count">0</span> Like
        </button>
        <!-- js -->
        <script>
            const likeBtn = document.querySelector(".like_btn");
            let likeIcon = document.querySelector("#icon")
            let count = document.querySelector("#count");

            let clicked = false;

            likeBtn.addEventListener("click", () => {
                if(!clicked) {
                    clicked = true;
                    likeIcon.innterHTML = `<i id="icon" class="fas fa-thumbs-up"></i>`
                    count.textContent++;
                } else {
                    clicked = false;
                    count.textContent--;
                }

            });
        </script>
    </body>
    </div>


    <h2><strong>Comments</strong></h2>
    <br/>
    {% if user.is_authenticated %}
    	<form action="{% url 'addComment' id=listing.id %}" method="POST">
    		{% csrf_token %}
    		<div class="form-group">
		        <label for="price"><b>Add Comment</b></label>
		        <input type="text" name="newComment" placehold="Add New Comment">
		        <button type="submit" class="btn btn-warning">Add</button>
		    </div>
    	</form>
    {% endif %}
    <br/>
    <ul class="list-group">
    	{% for comment in allComments %}
	  		<li class="list-group-item">
	  			{{ comment.message }}
	  			<br/>
	  			<p>Posted By: <strong>{{ comment.author }}</strong></p>
	  		</li>
    	{% endfor %}
	</ul>
{% endblock %}